# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
*.env

# Jupyter Notebooks
.ipynb_checkpoints

# OS
.DS_Store

# Data
data/*.csv
data/*.json

# VSCode
.vscode/

# ChromaDB local vector store
chromadb/
db/
